body {
    font-family: sans-serif;
    text-align: center;
    margin-top: 10px;
}

.container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

h3, input {
    margin: 5px 0;
}